# Copy this to .dev.vars for local development
SUPABASE_URL=your_supabase_url_here
SUPABASE_ANON_KEY=your_supabase_anon_key_here

# Clerk Authentication
PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_cG9zc2libGUtZ2xpZGVyLTU3LmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_YbmHAI0CFAUlso36pfwcdrumjirHGf6mkGf5ImAmZj
